%h2= @todo.title
%table.todo_items
  %table.todo_items
    %thead
      %tr.todo-items
        %th{width: "25%"} Completed?
        %th{width: "30%"} Todos
        %th{width: "40%"} Edit
    %hr
    %tbody
      - @todo.todo_items.each do |todo_item|
        %tr{id: dom_id(todo_item)}
          %td
            - if todo_item.completed?
              = todo_item.completed_at
            - else
              = link_to "Mark complete", complete_todo_todo_item_path(todo_item), method: :patch
          %td= todo_item.content
          %td
            = link_to "Edit ", edit_todo_todo_item_path(todo_item)
            |
            = link_to " Delete", todo_todo_item_path(todo_item), method: :delete, |
              data: { confirm: "Are you sure you want to delete this item?"}                                  |
  %hr
  %br
  %p
    = link_to "New Todo Item", new_todo_todo_item_path