<h1><%= @todo.title %></h1>

<h2><%= @todo.description %></h2>

<% if @todo.has_incomplete_items? %>
<h3>Incomplete Items:</h3>

<ul>
	<% @todo.todo_items.incomplete.each do |todo_item| %>
	<li><%= todo_item.content %></li>
	<% end %>
</ul>
<% end %>

<% if @todo.has_completed_items? %>
<h3>Complete Items:</h3>

<ul>
	<% @todo.todo_items.complete.each do |todo_item| %>
	<li><%= todo_item.content %></li>
	<% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
