%html
  %head
    %title Shimdo - The todo app
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .nav
      %h1.main-title= link_to "Shimdo", root_path
      %br.clear/
    - flash.each do |type, message|
      %div{class: "alert flash #{type}"}
        = message
    = yield